@import url('https://fonts.googleapis.com/css?family=Unlock:100,200,300,400,500,600,700|Charmonman:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.navbar {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px
}

.navbar-brand {
    font-family: "Unlock";
}


.navbar-nav li {
    font-family: "Charmonman", sans-serif;
    
    
}

.img-rounded {
    margin-left: 5px;
    margin-right: 5px;
}






