@import url('https://fonts.googleapis.com/css?family=Unlock:100,200,300,400,500,600,700|Charmonman:100,200,300,400,500,600,700|Cabin:100,200,300,400,500,600,700');


body {
    background-image: url("../images/logo-note.jpg")
    
}

/*---------------------------------------Navbar*/
.navbar {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
    
    


.navbar-brand {
    font-family: "Unlock";
    font-style: italic;
}


.navbar-nav li {
    font-family: "Unlock", sans-serif;
    font-size: small;
    font-style: italic;
    
 /*---------------------------------------header*/
    
}

img {
 height: 320px;
}

/*---------------------------------------index-section*/ 

.band-info {
    font-family: "Unlock", sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}

.members {
    font-family: "unlock", sans-serif;
    text-align: center;
    text-decoration: underline;
}

.instrument {
    font-family: "unlock", sans-serif;
    text-align: center;
    font-size: medium;
}

.img-circle {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 35px;
}

/*---------------------------------------music-section*/ 

.music {
    font-family: "Unlock", sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}

.mp3 {
    font-family: "unlock", sans-serif;
    text-align: center;
    text-decoration: underline;
}

.songs {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 25px;
  margin-bottom: 55px;
  
}

/*---------------------------------------video-section*/ 

.video {
font-family: "Unlock", sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}

.music-video {
margin-bottom: 50px;
}

.video-title {
    font-family: "Unlock", sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}
.more-to-come {
    font-family: "Charmonman", sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin-top: 35px;
    font-style: italic;
}


/*---------------------------------------footer*/ 

footer {
    height: 80px;
    background-color:  #efefef;
    margin:10px 15px 10px 15px;
    border-radius: 20px;
    
    
}


/*---------------------------------------social media*/ 
.fa {
    padding: 12px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  font-stretch: extra-expanded;
  color: #ffffff;
  
  
  
}

.fa-facebook {
  background: #3B5998;
 border-radius: 50%;
 margin-right: 5px;
 
}
.fa-twitter {
  background: #55ACEE;
  border-radius: 50%;
  margin-right: 5px;

}

.fa-snapchat {
  background: #fffc00;
  border-radius: 50%;
  margin-right: 5px;
}

.fa-instagram {
  background: #125688;
border-radius: 50%;
margin-right: 5px;
}

.fa-youtube {
  background: #bb0000;
  border-radius: 50%;
  margin-right: 5px;
}

.fa-google {
  background: #dd4b39;
  border-radius: 50%;
  margin-right: 5px;
}


.fa:hover {
    opacity: 0.4;
    color: #dcdcdc;
    text-decoration: none;
}

