@import url('https://fonts.googleapis.com/css?family=Unlock:100,200,300,400,500,600,700|Charmonman:100,200,300,400,500,600,700|Cabin:100,200,300,400,500,600,700');


body {
    background-image: url("../images/guitar.jpg");
    background-attachment: fixed;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;              
    
}

/*---------------------------------------Navbar*/
.navbar {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
    
    


.navbar-brand {
    font-family: "Unlock";
    font-style: italic;
     
}


.navbar-nav li {
    font-family: "Unlock", sans-serif;
    font-size: small;
    font-style: italic;

   
 /*---------------------------------------header*/
    
}

img {
 height: 300px;
 margin-left: 15px;
 margin-right: 15px;
 
}

/*---------------------------------------index-section*/ 

.band-info {
    font-family: "Unlock", sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}

.member1 {
    font-family: "unlock", sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #DC143C;
}

.member2 {
    font-family: "unlock", sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #000080;
}

.member3 {
    font-family: "unlock", sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #FF00FF;
}

.member4 {
    font-family: "unlock", sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #1E90FF;
}


.instrument {
    font-family: "unlock", sans-serif;
    text-align: center;
    font-size: medium;
}

.img-circle {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 35px;
}

/*---------------------------------------music-section*/ 

.music {
    font-family: "Unlock", sans-serif;
    color: #ff00ff;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}

.mp3a {
    font-family: "unlock", sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #DC143C;
}

.mp3b {
    font-family: "unlock", sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #000080;
}

.mp3c {
    font-family: "unlock", sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #FF00FF;
}

.mp3d {
    font-family: "unlock", sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #1E90FF;
}

.songs {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}
  
/*---------------------------------------video-section*/ 

.video {
font-family: "Unlock", sans-serif;
    color: #55ACEE;
    text-align: center;
    margin-top: 70px;
    font-size: 45px;
}

.music-video {
margin-bottom: 50px;
}

.video-title {
    font-family: "Unlock", sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    color: #ff8c00;
}
.more-to-come {
    font-family: "Charmonman", sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin-top: 35px;
    font-style: italic;
    
}


/*---------------------------------------photo-section*/ 

.thumbnail {
    margin-top: 40px;
    margin-bottom: auto;
}



/*---------------------------------------footer*/ 

footer {
    height: 75px;
    background-color: #fdf5e6 ;
    margin:10px 20px 10px 20px;
    border-radius: 20px;
    color: #00FF00;
    
}


/*---------------------------------------social media*/ 
.fa {
    padding: 12px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  font-stretch: extra-expanded;
  color: #ffffff;
  
  
  
  
}

.fa-facebook {
  background: #3B5998;
 border-radius: 50%;
 margin-right: 5px;
 
 
 
}
.fa-twitter {
  background: #55ACEE;
  border-radius: 50%;
  margin-right: 5px;

}

.fa-snapchat {
  background: #fffc00;
  border-radius: 50%;
  margin-right: 5px;
}

.fa-instagram {
  background: #125688;
border-radius: 50%;
margin-right: 5px;
}


.fa:hover {
    opacity: 0.4;
    color: #dcdcdc;
    text-decoration: none;
}

